body {
  background-color: #494f5c;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  overflow: hidden;
}

.load {
  position: relative;
  width: 600px;
  height: 40px;
  user-select: none;
}

.load div {
  position: absolute;
  width: 20px;
  height: 40px;
  font-size: 30px;
  transform: rotate(180deg);
  color: rgb(170, 235, 255);
  animation: move 2.4s linear infinite;
}

.load div:nth-child(2) {
  animation-delay: 0.2s;
}

.load div:nth-child(3) {
  animation-delay: 0.4s;
}
.load div:nth-child(4) {
  animation-delay: 0.6s;
}
.load div:nth-child(5) {
  animation-delay: 0.8s;
}
.load div:nth-child(6) {
  animation-delay: 1s;
}
.load div:nth-child(7) {
  animation-delay: 1.2s;
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 40%;
    opacity: 1;
    transform: rotate(0deg);
  }
  65% {
    left: 60%;
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    transform: rotate(-180deg);
    opacity: 0;
  }
}
