* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiperbox {
  position: relative;
  margin: 100px auto;
  width: 960px;
  height: 540px;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
  list-style: none;
}

.swiperitem {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.7;
  transition: 1s;
}

.swiperitem:nth-child(1) {
  background-image: url("https://codehhr.coding.net/p/codehhr/d/wallpaper/git/raw/master/work.jpg");
}
.swiperitem:nth-child(2) {
  background-image: url("https://codehhr.coding.net/p/codehhr/d/wallpaper/git/raw/master/leaf.jpg");
}
.swiperitem:nth-child(3) {
  background-image: url("https://codehhr.coding.net/p/codehhr/d/wallpaper/git/raw/master/work.jpg");
}
.swiperitem:nth-child(4) {
  background-image: url("https://codehhr.coding.net/p/codehhr/d/wallpaper/git/raw/master/ice.jpg");
}
.swiperitem:nth-child(5) {
  background-image: url("https://codehhr.coding.net/p/codehhr/d/wallpaper/git/raw/master/space.jpg");
}

.swiperpoints {
  position: absolute;
  left: 140px;
  bottom: 46px;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  z-index: 100;
}

.point {
  user-select: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-color: #a6a6a766;
  outline: none;
  transition: 0.4s;
}

.point:hover {
  background-color: #ffffffd3;
}

.goprevbtn,
.gonextbtn {
  user-select: none;
  position: absolute;
  top: 50%;
  width: 46px;
  height: 100%;
  transform: translateY(-50%);
  font-size: 32px;
  font-weight: 900;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: transparent;
  transition: 0.4s;
  z-index: 100;
}

.goprevbtn:hover,
.gonextbtn:hover {
  background-color: #82aaaa71;
}
.goprevbtn {
  border-radius: 0 20px 20px 0;
  left: 0;
}

.gonextbtn {
  border-radius: 10px 0 0 10px;
  right: 0;
}

.showing {
  z-index: 10;
  opacity: 1;
}
.active {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
}
