body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #60a3bc;
}
img.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
form {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: none;
  text-align: center;
}
h2 {
  color: #9bc8f3;
}
form input.box {
  background: #beafe9;
  border-radius: 20px;
  outline: none;
  display: block;
  margin: 30px auto;
  padding: 10px 0;
  width: 80%;
  text-align: center;
  border: 1px solid #74b9ff;
  color: rgb(15, 16, 97);
  transition: 0.25s;
  background-repeat: no-repeat;
  background-position-x: 28px;
  background-position-y: 8px;
}
form div input.user {
  background-image: url("https://user_hhr.gitee.io/web/Login3/img/user.png");
  z-index: 1;
}
form div input.passwd {
  background-image: url("https://user_hhr.gitee.io/web/Login3/img/lock.png");
  z-index: 1;
}

h2:hover {
  color: rgb(248, 240, 228);
  transition: 0.5s;
}

form input[type="reset"] {
  height: 24px;
  margin-left: 160px;
  color: #7cadbe;
  border: none;
  border-radius: 4px;
  background: none;
}
form input[type="reset"]:hover {
  transition: 0.25s;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: #bd8dba;
}
input[type="text"]:hover,
input[type="password"]:hover {
  width: 100%;
}

a {
  text-decoration: none;
}

input.btn:hover {
  cursor: pointer;
  background: #74b9ff;
  opacity: 0.9;
  width: 62%;
}

.reset {
  outline: none;
}
